@charset "UTF-8";
/* CSS Document */

/*-----------achtergrondkleur grijs-------*/

body {
	background-color: #F8F7F8;
}

.navbar-default {
    background: #F8F7F8;
}



footer {
    border-top: 1px solid #fff;
	background-color: #fff;
}

footer hr {
  border-color: #ffffff;

}