.slider-container {
    overflow: hidden;
    width: 100%;
    cursor: grab;
}

.slider-container:active {
    cursor: grabbing;
}

.slider {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    transform: translateX(0);
}

.slider img {
    /*          %, container width, tot margin*/
    width: calc(0.45 * (86vw - 60px) - 10rem);
    display: inline-block;
    margin: 0 20px 0 20px;
    cursor: grabbing;
    pointer-events: none;
}

.slider-animate {
    transition: all .5s ease-out;
}


/*----------SASKIA------------*/

.slider.vz img {
    /*          %, container width, tot margin*/
    width: calc(0.33 * (86vw - 60px) - 10rem);
    display: inline-block;
    margin: 0 20px 0 20px;
    cursor: grabbing;
    pointer-events: none;
}